.header {
    background-color: var(--mid-color);

    &__nav {
        display: flex;
        gap: 40px;
        list-style: none;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;
    }

    &__link {
        color: var(--black-color);
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
    }

    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        max-width: 570px;
        margin-left: 100px;
    }

    &__img {
        max-width: 750px;
        width: 100%;
    }

    &__title {
        color: var(--black-color);
        font-size: 64px;
        margin-bottom: 18px;
    }

    &__descr {
        color: var(--black-color);
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 46px;
    }

    &__button {
        cursor: pointer;
        max-width: 154px;
        padding: 16px 32px;
        border-radius: 30px;
        background-color: #E9672B;
        border: none;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        white-space: nowrap;
        line-height: 28px;
    }

}